{% extends 'auctions/layout.html' %}

{% block body %}
    <form action="{% url 'create' %}", method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="price" placeholder="Starting Bid">
        <input type="url" name="image" placeholder="Link To Your Photo">
        <select name="category">
            <option disabled selected value="">category</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <input type="submit" placeholder="Create Listing">
    </form>
{% endblock %}